<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/css/account.css" rel="stylesheet" type="text/css">
</head>

<body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script type="text/javascript"
  src="http://maps.google.com/maps/api/js?key=AIzaSyBz1wVCigPqKRUOumbHEMwz_KzQW-5mbzY"></script> 
<script>
  var map;
  var markers = new Set();
  var markerNames = new Map();

  var loadMap = function (mapName) {
    var maxLng = parseFloat(document.getElementsByName("maxLng-" + mapName)[0].value)
    var minLng = parseFloat(document.getElementsByName("minLng-" + mapName)[0].value)
    var maxLat = parseFloat(document.getElementsByName("maxLat-" + mapName)[0].value)
    var minLat = parseFloat(document.getElementsByName("minLat-" + mapName)[0].value)

    var difLng = (maxLng - minLng) / 2.0
    var difLat = (maxLat - minLat) / 2.0

    var myOptions = {
      center: new google.maps.LatLng(maxLat - difLat, maxLng - difLng),
      zoom: 11,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      backgroundColor: '#F5F5F5'
    };
    var bounds = {
      north: maxLat,
      south: minLat,
      east: maxLng,
      west: minLng,
    };
    map = new google.maps.Map(document.getElementsByName("map-" + mapName)[0], myOptions);

    rectangle = new google.maps.Rectangle({
        name: mapName,
        bounds: bounds,
        editable: true,
        draggable: true
      });
    rectangle.setMap(map);

    rectangle.addListener('bounds_changed', updateLongLat);
  };

  function updateLongLat(event) {
    var mapName = rectangle.name;
    var ne = rectangle.getBounds().getNorthEast();
    var sw = rectangle.getBounds().getSouthWest();
    console.log(sw.lng() + ' ' + sw.lat())
    console.log(document.getElementsByName("minLng-" + mapName)[0])
    document.getElementsByName("maxLng-" + mapName)[0].setAttribute("value", ne.lng())
    document.getElementsByName("minLng-" + mapName)[0].setAttribute("value", sw.lng())
    document.getElementsByName("maxLat-" + mapName)[0].setAttribute("value", ne.lat())
    document.getElementsByName("minLat-" + mapName)[0].setAttribute("value", sw.lat())
    // map.fitBounds(rectangle.getBounds());
  }

  function updateMaxLong(input) {
    var ne = rectangle.getBounds().getNorthEast();
    var sw = rectangle.getBounds().getSouthWest();
    var difLng = (ne.lng() - sw.lng()) / 2.0
    var difLat = (parseFloat(input.value) - sw.lat()) / 2.0
    var NE = new google.maps.LatLng(parseFloat(input.value), ne.lng());
    var SW = new google.maps.LatLng(sw.lat(), sw.lng());
    var newRect = new google.maps.LatLngBounds(SW,NE);
    rectangle.setBounds(newRect);    
    rectangle.addListener('bounds_changed', updateLongLat);
    map.fitBounds(newRect);
    map.setCenter(new google.maps.LatLng(parseFloat(input.value) - difLat, ne.lng() - difLng));
  }

  function updateMinLong(input) {
    var ne = rectangle.getBounds().getNorthEast();
    var sw = rectangle.getBounds().getSouthWest();
    var difLng = (ne.lng() - parseFloat(input.value)) / 2.0
    var difLat = (ne.lat() - sw.lat()) / 2.0
    var NE = new google.maps.LatLng(ne.lat(), ne.lng());
    var SW = new google.maps.LatLng(sw.lat(), parseFloat(input.value));
    var newRect = new google.maps.LatLngBounds(SW,NE);
    rectangle.setBounds(newRect);
    rectangle.addListener('bounds_changed', updateLongLat);
    map.fitBounds(newRect);
    map.setCenter(new google.maps.LatLng(ne.lat() - difLat, ne.lng() - difLng));
  }

  function updateMaxLat(input) {
    var ne = rectangle.getBounds().getNorthEast();
    var sw = rectangle.getBounds().getSouthWest();
    var difLng = (ne.lng() - sw.lng()) / 2.0
    var difLat = (parseFloat(input.value) - sw.lat()) / 2.0
    var NE = new google.maps.LatLng(parseFloat(input.value), ne.lng());
    var SW = new google.maps.LatLng(sw.lat(), sw.lng());
    var newRect = new google.maps.LatLngBounds(SW,NE);
    rectangle.setBounds(newRect);
    rectangle.addListener('bounds_changed', updateLongLat);
    map.fitBounds(newRect);
    map.setCenter(new google.maps.LatLng(parseFloat(input.value) - difLat, ne.lng() - difLng));
  }

  function updateMinLat(input) {
    var ne = rectangle.getBounds().getNorthEast();
    var sw = rectangle.getBounds().getSouthWest();
    var difLng = (ne.lng() - sw.lng()) / 2.0
    var difLat = (ne.lat() - parseFloat(input.value)) / 2.0
    var NE = new google.maps.LatLng(ne.lat(), ne.lng());
    var SW = new google.maps.LatLng(parseFloat(input.value), sw.lng());
    var newRect = new google.maps.LatLngBounds(SW,NE);
    rectangle.setBounds(newRect);
    rectangle.addListener('bounds_changed', updateLongLat);
    map.fitBounds(newRect);
    map.setCenter(new google.maps.LatLng(ne.lat() - difLat, ne.lng() - difLng));
  }

  document.addEventListener('DOMContentLoaded', function () {
    for (i = 0; i < document.forms.length; i++) {
      if (document.forms[i].name == "deleteAudio") {
        document.forms[i].addEventListener('submit', deleteAudio);
      } else if (document.forms[i].name == "editCampaign") {
        document.forms[i].addEventListener('submit', editCampaign);
      }  
    }  
  });

  var deleteAudio = function (e) {
    e.preventDefault();
    $.ajax({
      url: "/deleteFiles",
      type: "POST",
      dataType: 'json',
      data: {
        'file': e.target.elements[0].value
      },
      success: function (data) {
        window.location.href = data.redirectUrl;
      }
    });
  };

  var editCampaign = function (e) {
    e.preventDefault();
    $('#submit-changes-btn').hide();
    $('#spinner').show();
    const formData = new FormData(document.getElementById(e.target.id));
    const keys = [];
    const campaignData = JSON.parse(e.target.elements[7].value);
    for (i = 0; i < campaignData.length; i++) {
      keys.push(campaignData[i].currKey);
    }
    formData.append('campaignData', keys);
    $.ajax({
      url: "/editCampaign",
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      success: function(data) {
          window.location.href = data.redirectUrl;
      },
      error: function(errResponse) {
          console.log(errResponse);
          $('#submit-changes-btn').show();
          $('#spinner').hide();
      }
    });
  };
</script>

<div class="bigHeader">
  <img class="adio-black" src="/images/adio-black.png"/>
  <div class="header">
    <a class="account" href="/account">My Account</a>
    <a class="submit-ads" href="/submitads">Submit my Ads</a>
    <a class="logout" href="/logout">Logout</a>
  </div>
</div>
  
  <div class="body">
      <!-- Add Audio Button -->

      <h1>Hey, <%= firstname %>!</h1>
      <h2>Here are all of your campaigns.</h2>
      <h2 class="play">You can play, delete, and view stats for each of your ads.</h2>
  </div>

  <% var count = 0; var modalCount = 0; %> 
  <% Object.keys(campaigns).forEach(function(key) { var num = key.replace(/\s+/g, '');%> 
      <div class="campaigns">
          <h2 class="campaignName"><%= key %>: <span class="campaignDescription"><%= campaigns[key][0].description %></span></h2>
          <button type="button" onclick="loadMap('<%= num %>')" class="btn btn-dark" data-toggle="modal" data-target="#editModal<%= modalCount %>">
            Edit Campaign
          </button>
          <div class="modal fade" id="editModal<%=modalCount%>" style="width:80%; margin-left: 10%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="width:100%; max-width: 100%;" role="document">
              <div class="modal-content"  style="width:100%">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle<%= modalCount %>">Edit <%= key %> Campaign</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="row">
                  <div class="col-xs-7" style="margin: 0px;">
                    <div id="map" name="map-<%= num %>"></div>
                  </div>
                  <div class="col-xs-5" style="margin: 0px;">
                    <div class="modal-body">
                        <p style="font-size: 15px;">You can edit existing information about your campaign or add new ads! Please only change desired fields.</p>
                        <p style="font-size: 15px;">Edit your campaign's geographic reach using the box on the map.</p>
                        <form class="signup" enctype="multipart/form-data" name="editCampaign" id="editCampaign<%=modalCount%>" type="submit">
                        <input type="text" required id="campaign-name" class="fadeIn third" name="campaign-name" placeholder="Campaign Name"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Campaign Name'" value="<%= campaigns[key][0].campaignName %>">
                        <div id="name-wrapper">
                          <div id="error-fn">
                            <input type="number" step="any" required id="min-latitude" class="fadeIn second" name="minLat-<%= num %>" placeholder="Min. Latitude"
                            min="-90" max="90"  onchange="updateMinLat(this)" value=<%= campaigns[key][0].minLat %> onfocus="this.placeholder = ''" onblur="this.placeholder = 'Min. Latitude'">
                          </div>
                          <div id="error-ln">
                            <input type="number" step="any" required id="min-longitude" class="fadeIn second" name="minLng-<%= num %>" placeholder="Min. Longitude"
                            min="-180" max="180" onchange="updateMinLong(this)" value=<%= campaigns[key][0].minLng %> onfocus="this.placeholder = ''" onblur="this.placeholder = 'Min. Longitude'">
                          </div>
                        </div>
                        <div id="name-wrapper">
                          <div id="error-fn">
                            <input type="number" step="any" required id="max-latitude" class="fadeIn second" name="maxLat-<%= num %>" placeholder="Max. Latitude"
                            min="-90" max="90" onchange="updateMaxLat(this)" value=<%= campaigns[key][0].maxLat %> onfocus="this.placeholder = ''" onblur="this.placeholder = 'Max. Latitude'">
                          </div>
                          <div id="error-ln">
                            <input type="number" step="any" required id="max-longitude" class="fadeIn second" name="maxLng-<%= num %>" placeholder="Max. Longitude"
                            min="-180" max="180" onchange="updateMaxLong(this)" onfocus="this.placeholder = ''" value=<%= campaigns[key][0].maxLng %> onblur="this.placeholder = 'Max. Longitude'">
                          </div>
                        </div>
                          <input type="text" required id="description" class="fadeIn third"  style="height: 50px" name="description" placeholder="Description of Ad"
                          maxlength="100" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description of Ad'" value="<%= campaigns[key][0].description %>">
                          <!-- <input type="file" name="ad" multiple /> -->
                          <input type="file" style="margin: 5px 0px; font-size: 13px;" name="ad" multiple id="ad"/>
                          <div id="spinner" style="display: none;" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <button id="submit-changes-btn" type="submit" class="btn btn-dark" name="editButton" data-toggle="modal"
                          value="<%= JSON.stringify(campaigns[key]) %>">Submit changes</button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>  
      <div class="adsOuter">
        <h2 class="campaignLatLng">Min. Latitude &amp; Longitude Coordinates: <span class="campaignDescription">(<%= campaigns[key][0].minLat %>, <%= campaigns[key][0].minLng %>)</span></h2>
        <h2 class="campaignLatLng"><span> | </span></h2>
        <h2 class="campaignLatLng">Max. Latitude &amp; Longitude Coordinates: <span class="campaignDescription">(<%= campaigns[key][0].maxLat %>, <%= campaigns[key][0].maxLng %>)</span></h2>
        <div class="ads">
        <% for(i = 0; i < campaigns[key].length; i++) { %>
            <div class="card" style="width: 20rem">
                <div class="card-block">
                    <h4 class="card-title"><%= campaigns[key][i].adName %></h4>
                    <p class="card-text">Number of impressions: <%= campaigns[key][i].numImpressions %></p>
                    
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deleteModal<%= count %>">
                      Delete Ad
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal">
                      Edit Ad
                    </button>
                </div>
            </div>
            <div class="modal fade" id="deleteModal<%= count %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle<%= count %>">Delete Ad</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form name="deleteAudio" type="submit">
                          <p>Are you sure you want to delete <%= campaigns[key][i].adName  %>? You will permanently lose all data.</p>
                          <div class="deleteButtons">
                              <button type="submit" class="btn btn-outline-danger" name="deleteButton" data-toggle="modal"
                              value="<%= campaigns[key][i].currKey %>">Delete</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            
        <% count = count + 1; }%>
        </div>
      </div>
  <% modalCount = modalCount + 1;}) %>
        
  </div>
    
</body>

</html>